/* Search Item Styles
===================================================================================================================== */

// Search Styles:

.navbar-search {
  
  // Hide Icon + Field + Popover (on mobile):
  
  .navbar-search-icon,
  .navbar-search-field,
  .navbar-search-popover {
    display: none;
  }
  
}

// Search Field + Mobile Styles:

.navbar-search-field,
.navbar-search-mobile {
  
  form {
    
    margin: $spacer-half 0;
    
    > fieldset {
      
      position: relative;
      
      .field,
      .action {
        margin: 0;
      }
      
      .field > input {
        padding-right: 38px;
      }
      
      .field::after {
        top: 1px;
        right: 10px;
        color: $search-mobile-icon-color;
        content: "\f002";  // search icon
        font-size: $font-size-base;
        line-height: 1.25;
        font-family: 'FontAwesome';
        padding: $spacer-half 0;
        position: absolute;
      }
      
      .action {
        
        top: 0;
        right: 0;
        max-width: 38px;
        position: absolute;
        color: transparent !important;
        border-color: transparent !important;
        background-color: transparent !important;
        box-shadow: none !important;
        
      }
      
    }
    
  }
  
}

// Search Field Styles:

.navbar-search-field {
  
  form {
    
    > fieldset {
      
      .field.text {
        max-width: 240px;
      }
      
    }
    
  }
  
}

// Search Popover Styles:

.navbar-search-popover {
  
  form {
    
    margin: $spacer-quarter 0;
    
    > fieldset {
      
      .field,
      .action {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }
      
      .field.text {
        max-width: 180px;
      }
      
    }
    
  }
  
}

// Media Queries:

.navbar-expand {
  
  @each $breakpoint in map-keys($grid-breakpoints) {
    
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);
    
    &#{$infix} {
      
      @include media-breakpoint-up($next) {
        
        // Show Search Icon + Field + Hide Mobile Search:
        
        .navbar-search-icon,
        .navbar-search-field {
          display: block;
        }
        
        .navbar-search-mobile {
          display: none;
        }
        
      }
      
    }
    
  }
  
}
