/* SilverWare Search Variables
===================================================================================================================== */

$search-page-message-color: $body-color;

$search-result-margin: $spacer;
$search-result-header-font-size: $font-size-lg;
$search-result-header-font-weight: $font-weight-normal;

$search-result-absolute-url-color: color(green);
$search-result-absolute-url-font-size: $font-size-base;

$search-result-text-color: $body-color;
$search-result-text-font-size: $font-size-sm;
$search-result-text-margin: $spacer-quarter;

$search-mobile-icon-color: $gray-500;
